.container{
    max-width: 92.1875rem;/*1475*/
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 100rem){/*1600*/
    .container{
        max-width: 81.25rem;/*1300*/
    }
}

@media (max-width: 87.5rem){/*1400*/
    .container{
        max-width: 68.75rem;/*1100*/
    }
}

@media (max-width: 75rem){/*1200*/
    .container{
        max-width: 61.25rem;/*980*/
    }
}

@media (max-width: 62rem){/*992*/
    .container{
        max-width: 46.25rem;/*740*/
    }
}

@media (max-width: 47.625rem){/*762*/
    .container{
        max-width: 35rem;/*560*/
    }
}

@media (max-width: 36rem){/*576*/
    .container{
        max-width: 100%;
        padding: 0 0.9375rem;/*15*/
    }
}