.form{
    margin: 3.75rem 0;/*60*/
}

.title{
    color: #011936;
}

.subtitle{
    font-size: 0.875rem;/*14*/
    color: #84A6C2;
}

.wrap{
    width: 100%;
    display: flex;
    gap: 0 0.9375rem;/*15*/
    margin-top: 0.625rem;/*10*/
}

.input{
    width: 100%;
    min-height: 2.5rem;/*40*/
    border: 0.0625rem solid #84A6C2;/*1*/
    border-radius: 3.125rem;/*50*/
    font-size: 0.875rem;/*14*/
    color: #84A6C2;
    padding: 0.5rem 1.25rem;/*8 20*/
}

.wrapper{
    margin-bottom: 3.75rem;/*60*/
}

.wrapper:last-child{
    margin-bottom: 0;
}

.error{
    margin-top: 0.625rem;/*10*/
    color: red;
}