.auth{
    width: 43.75rem;/*700*/
    background-color: #fff;
    border-radius: 0.625rem;/*10*/
    padding: 2.5rem;/*40*/
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);/*4 10*/
    max-width: calc(100% - (0.625rem * 2));/*10*2*/
}