.auth{
    width: 43.75rem;/*700*/
    background-color: #fff;
    border-radius: 0.625rem;/*10*/
    padding: 2.5rem;/*40*/
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);/*4 10*/
    max-width: 100%;/*10*2*/
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
}

@media (max-width: 36rem){/*576*/
    .auth{
        padding: 0.9375rem;/*15*/
    }
}