.main{
    margin: 2.5rem 0;/*40*/
}

.item{
    text-align: start;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.625rem;/*10*/
    padding: 2.5rem;/*40*/
}

.item:last-child{
    margin-bottom: 0;
}

.item:nth-child(1){
    background-color: #DCEBF8;
}

.item:nth-child(2){
    background-color: #FFE2CA;
}

.wrapper{
    display: flex;
    align-items: center;
}

.info{
    margin-left: 1.875rem;/*30*/
}

.btn{
    margin: 0 0.625rem;/*10*/
    font-size: 2.5rem;/*40*/
}

.title{
    font-weight: 700;
    font-size: 1.25rem;/*20*/
    color: #43607C;
    margin-bottom: 0.3125rem;/*5*/
}

.subtitle{
    font-size: 0.875rem;/*14*/
    color: #43607C;
}

.href{
    font-size: 0.875rem;/*14*/
    text-decoration-line: underline;
    color: #43607C;
}

.auth{
    width: 43.75rem;/*700*/
    background-color: #fff;
    border-radius: 0.625rem;/*10*/
    box-shadow: 0 0 0.3125rem /*5*/ #000;
    padding: 2.5rem;/*40*/
}