.wrapper{
    display: grid;
    grid-template-columns: 20% calc(80% - 2.5rem);/*40*/
    grid-template-rows: auto auto auto;
    gap: 2.5rem;/*40*/
}

.chooseCity{
    display: none;
    margin-bottom: 0.9375rem;/*15*/
}

.header{
    grid-column: 1/3;
}

@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
    .wrapper{
        grid-template-columns: 25% calc(75% - 2.5rem);/*40*/
    }
}

@media (max-width: 62rem){/*992*/
    .wrapper{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 47.625rem){/*762*/
}

@media (max-width: 36rem){/*576*/
    .tags::-webkit-scrollbar {
        display: none;
    }

    .chooseCity{
        display: block;
    }
}