.form{
    grid-column: 1/3;
}

.wrapper{
    display: flex;
}

.input{
    width: 100%;
    border: 0.0625rem solid #DFDFDF;/*1*/
    border-radius: 0.3125rem 0 0 0.3125rem;/*5*/
    padding: 0 1.25rem;/*20*/
    font-size: 1.125rem;/*18*/
}

.input::placeholder{
    color: #C2C2C2;
}

.search{
    display: none;
}

@media (max-width: 100rem){/*1600*/ 
}

@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .text{
        display: none;
    }

    .search{
        display: block;
    }
}

@media (max-width: 36rem){/*576*/
}