.canvas{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(67, 96, 124, 0.5);
    overflow: auto;
    padding: 0 1.25rem;/*20*/
}

.showHeader{
    z-index: 0;
}

.canvas.entering{
    animation: show-canvas 1s forwards;
}

.canvas.exiting{
    animation: hide-canvas 1s forwards;
}

@keyframes show-canvas {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-canvas {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}