.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 1.5625rem;/*10 25*/
    background: #FFF2F2;
    border-radius: 2.25rem;/*36*/
    width: 100%;
    color: #8E4A4E;
}

.button .text{
    font-weight: 700;
}

.allWidth{
    width: 100%;
}

.wrap{
    background-color: #fff;
    margin-bottom: 0.625rem;/*10*/
    background: #FFFFFF;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);/*4 10*/
    border-radius: 0.625rem;/*10*/
    padding: 1.875rem 1.25rem;/*30 20*/
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}
.btn{
    border-radius: 2.25rem;/*36*/
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.625rem 0;/*10*/
    background: #FFE2CA;
    color: #5E2D07;
}

.text{
    margin: 0 0.9375rem;/*15*/
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem 0;/*10*/
}

.href{
    padding: 0.625rem 0;/*10*/
    color: #011936;
    width: 100%;
    text-align: center;
}

.user{
    padding: 0.625rem 0;/*10*/
    display: flex;
    align-items: center;
}