.wrap{
    background-color: #fff;
    margin-bottom: 0.625rem;/*10*/
    background: #FFFFFF;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);/*4 10*/
    border-radius: 0.625rem;/*10*/
    padding: 1.875rem 1.25rem;/*30 20*/
    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;/*40*/
}

.animated{
    opacity: .75;
    transition: .5s opacity;
}

.animated:hover{
    opacity: 1;
}

.wrapper{
    display: flex;
    position: relative;
}

.number{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    padding: 0.3125rem 0.625rem;/*5 10*/
    border-radius: 2.625rem;/*42*/
    font-weight: 700;
    font-size: 0.875rem;/*14*/
}

.btn{
    border-radius: 2.25rem;/*36*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.625rem 0;/*10*/
    color: #43607C;
}

.brown{
    background: #FFE2CA;
    color: #5E2D07;
}

.brown .number{
    background-color: #FDAD6D;
    color: #011936;
}

.text{
    margin: 0 0.9375rem;/*15*/
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem 0;/*10*/
}

.href{
    padding: 0.625rem 0;/*10*/
    color: #011936;
    width: 100%;
    text-align: center;
}

.user{
    padding: 0.625rem 0;/*10*/
    display: flex;
    align-items: center;
}

.name{
    margin-left: 0.9375rem;/*15*/
    color: #43607C;
}