.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;/*20*/
}

.slider{
    margin: 0 -0.3125rem;/*5*/
}

.wrap{
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
    margin-left: 1.25rem;/*20*/
    gap: 0 0.3125rem;/*5*/
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
    .buttons{
        display: none;
    }
    
    .sliderList{
        display: none;
    }
}

@media (max-width: 47.625rem){/*762*/
    .mini .wrapper{
        display: none;
    }
}

@media (max-width: 36rem){/*576*/
}