.form{
    margin-top: 2.5rem;/*40*/
}

.title{
    color: #011936;
    margin-bottom: 1.25rem;/*20*/
}

.wrap{
    display: flex;
    column-gap: 1.875rem;/*30*/
}

.elem{
    display: flex;
    column-gap: 0.625rem;/*10*/
}

.input{
    border: 0.0625rem solid #84A6C2;/*1*/
    border-radius: 0.3125rem;/*5*/
    height: 3.125rem;/*50*/
    width: 2.5rem;/*40*/
}

.wrapper{
    margin-bottom: 2.5rem;/*40*/
}

.btn{
    font-size: 0.875rem;/*14*/
    text-decoration-line: underline;
    color: #84A6C2;
    margin-bottom: 0.625rem;/*10*/
}

.error{
    margin-top: 0.625rem;/*10*/
    color: red;
}

.input{
    text-align: center;
    font-size: 1.25rem;/*20*/
    font-weight: 600;
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
}

@media (max-width: 36rem){/*576*/
    .btns button[type=submit]{
        width: 100%;
    }

    .wrap{
        column-gap: 1.25rem;/*20*/
    }

    .elem{
        column-gap: 0.3125rem;/*5*/
    }
}

@media (max-width: 23.4375rem){/*375*/
    .input{
        height: 2.8125rem;/*45*/
        width: 2.1875rem;/*35*/
        font-size: 1.125rem;/*18*/
    }
}