*{
    font-family: 'Verdana';
    font-weight: 400;
    font-size: 1rem;
}

button,a{
    cursor: pointer;
}

main section{
    margin-bottom: 5rem;/*80*/
}

main section:last-child{
    margin-bottom: 0;
}

main{
    margin-top: calc((1.25rem * 2) + 2.5rem);/*(20 * 2) + 40*/
    padding: 2.5rem 0 5rem 0;/*40 80*/
}

.my-element {
    animation-duration: 1s; /* don't forget to set a duration! */
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper{
    flex: 1 1;
}

@media (max-width: 75rem){/*1200*/
    main{
        margin-top: calc((1.25rem * 2) + 3.125rem);/*(20 * 2) + 50*/
    }
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    main section{
        margin-bottom: 3.125rem;/*50*/
    }

    main{
        padding: 1.875rem 0 2.8125rem 0;/*15 45*/
    }
}

@media (max-width: 36rem){/*576*/
}