body{
    /*cursor: url("../../assets/cursor.png"), default;*/
}

*{
    font-family: 'Verdana';
    font-weight: 400;
    font-size: 1rem;
}

button,a{
    cursor: pointer;
}

main section{
    margin-bottom: 5rem;/*80*/
}

main section:last-child{
    margin-bottom: 0;
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    main section{
        margin-bottom: 3.125rem;/*50*/
    }
}

@media (max-width: 36rem){/*576*/
}