.form{
    display: flex;
    align-items: stretch;
}

.input{
    width: 100%;
    height: 100%;
    border: 0.0625rem solid #DFDFDF;/*1*/
    border-radius: 0.3125rem 0 0 0.3125rem;/*5*/
}

.wrap{
    width: 100%;
}

.search{
    display: none;
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .search{
        display: flex;
        align-items: center;
    }
    .text{
        display: none;
    }
}

@media (max-width: 36rem){/*576*/
}