.aside{
    grid-row: 2/4;
}

.wrapper{
    margin-top: 1.875rem;/*30*/
}

.elem{
    margin-bottom: 1.875rem;/*30*/
}

.elem:last-child{
    margin-bottom: 0;
}

.title{
    font-weight: 700;
    font-size: 1.125rem;/*18*/
    color: #011936;
    margin-bottom: 0.9375rem;/*15*/
}

.input{
    display: none;
}

.input:checked + .label .tick{
    opacity: 1;
}

.square{
    min-width: 1.40625rem;/*22.5*/
    height: 1.40625rem;/*22.5*/
    border: 0.1875rem #43607C solid;/*3*/
    border-radius: 0.3125rem;/*5*/
}

.tick{
    opacity: 0;
    transition: .5s opacity;
    margin: -0.1875rem;/*3*/
    background-color: #FDAD6D;
    width: calc(100% + (2 * 0.1875rem));/*3*/
    height: calc(100% + (2 * 0.1875rem));/*3*/
    border-radius: 0.3125rem;/*5*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;/*8*/
}

.label{
    display: flex;
    align-items: center;
    column-gap: 0.9375rem;/*15*/
    padding: 0.25rem;/*4*/
}

.btn{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 0.3125rem;/*5*/
    margin-top: 0.625rem;/*10*/
}

.info{
    color: #43607C;
}

.arrow{
    transition: .5s transform;
}

.active{
    transform: rotate(180deg);
}

@media (max-width: 100rem){/*1600*/ 
}

@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
    .wrapper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .elem{
        margin-bottom: 0;
    }

    .btn{
        display: flex;
    }

    .wrapper.exited{
        display: none;
    }
}

@media (max-width: 47.625rem){/*762*/
    .text{
        color: #43607C;
    }

    .title{
        font-size: 1rem;/*16*/
    }
}

@media (max-width: 36rem){/*576*/
    .text{
        font-size: 0.875rem;/*14*/
    }

    .label{
        column-gap: 0.625rem;/*10*/
    }

    .title{
        margin-bottom: 0.625rem;/*10*/
    }

    .wrapper{
        margin-top: 1.25rem;/*20*/
    }

    .btn{
        margin-top: 0.3125rem;/*5*/
    }
}

@media (max-width: 23.4375rem){/*375*/
    .label{
        column-gap: 0.3125rem;/*5*/
    }

    .title{
        font-size: 0.875rem;/*14*/
    }
}