.wrapper{
    display: flex;
}

.input{
    width: 100%;
    border: 0.0625rem solid #DFDFDF;/*1*/
    border-radius: 0.3125rem 0 0 0.3125rem;/*5*/
    padding: 0 1.25rem;/*20*/
    font-size: 1.125rem;/*18*/
}

.input::placeholder{
    color: #C2C2C2;
}

.search{
    display: none;
}

.wrap{
    margin-top: 2.5rem;/*40*/
}

.main{
    display: flex;
    column-gap: 0.625rem;/*10*/
    align-items: center;
}

.delete{
    background: #DCEBF8;
    width: 1.5rem;/*24*/
    height: 1.5rem;/*24*/
    border-radius: 100%;
    color: #43607C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-weight: 700;
    font-size: 1.125rem;/*18*/
    color: #43607C;
}

.item{
    display: flex;
    align-items: center;
    gap: 0.3125rem 1.25rem;/*5 20*/
}

.wrap{
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;/*10*/
}

.info{
    font-size: 1.125rem;/*18*/
    color: #84A6C2;
}

.error{
    margin-top: 0.625rem;/*10*/
    color: red;
}



@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
    .item{
        flex-direction: column;
        align-items: flex-start;
    }

    .wrap{
        margin-top: 1.875rem;/*30*/
    }
}

@media (max-width: 47.625rem){/*762*/
    .text{
        display: none;
    }

    .search{
        display: block;
    }

    .title,
    .info{
        font-size: 0.875rem;/*14*/
    }

    .wrap{
        margin-top: 1.25rem;/*20*/
    }
}

@media (max-width: 36rem){/*576*/
    .input{
        font-size: 1rem;/*16*/
    }

    .wrap{
        margin-top: 0.9375rem;/*15*/
    }
}

@media (max-width: 29.6875rem){/*475*/
    .input::placeholder{
        font-size: 0.75rem;/*12*/
    }  
    
    .input{
        padding: 0 0.625rem;/*100*/
    }
}

@media (max-width: 23.4375rem){/*375*/
    .input{
        font-size: 0.875rem;/*14*/
    }
}