.elem{
    padding: 0.125rem 0.625rem;/*2 10*/
}

.wrapper{
    box-shadow: 0 0.125rem 0.625rem rgba(67, 96, 124, 0.25);/*2 10*/
    border-radius: 0.3125rem;/*5*/
}

.img{
    width: 100%;
    height: 7.5rem;/*120*/
    overflow: hidden;
    border-radius: 0.3125rem;/*5*/
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrap{
    padding: 0.9375rem 0.625rem 0.625rem 0.625rem;/*15 10 10 10*/
}

.title{
    font-weight: 700;
    line-height: 1.25em;/*20/16*/
    color: #43607C;
    margin-bottom: 1.25rem;/*20*/
}

.desc{
    font-size: 14px;
    line-height: 20px;
    color: #43607C;
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
}

@media (max-width: 36rem){/*576*/
}

@media (max-width: 29.6875rem){/*475*/
    .elem{
        padding: 0.125rem 50px;/*2 10*/
    }
}

@media (max-width: 23.4375rem){/*375*/
    .elem{
        padding: 0.125rem 0.625rem;/*2 10*/
    }
}