.elem{
    padding: 0.625rem;/*10*/
}

.mini{
    width: 17.5rem;/*280*/
}

.img{
    height: 11.25rem;/*180*/
    width: 11.25rem;/*180*/
    grid-row: 1/6;
    grid-column: 1/2;
    border-radius: 0.3125rem;/*5*/
}

.mini .img{
    height: 12.5rem;/*200*/
    width: 12.5rem;/*200*/
    margin: 0 auto;
    margin-bottom: 1.25rem;/*20*/
}

.img img{
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.wrapper{
    display: grid;
    grid-template-columns: 11.25rem auto;/*180*/
    grid-template-rows: auto auto auto auto;
    gap: 1.25rem 1.5625rem;/*20 25*/
    padding: 0.9375rem;/*15*/
    box-shadow: 0 0.125rem 0.625rem rgba(67, 96, 124, 0.25);/*2 10*/
    border-radius: 0.3125rem;/*5*/
}

.mini .wrapper{
    display: flex;
    flex-direction: column;
    padding: 3.125rem 1.25rem;/*50 20*/
    height: 100%;
    align-items: center;
}

.name{
    font-weight: 700;
    font-size: 1.125rem;/*18*/
    color: #43607C;
    margin-bottom: -0.9375rem;/*-15*/
}

.mini .name{
    text-align: center;
}

.reviews{
    font-size: 0.875rem;/*14*/
    text-decoration-line: underline;
    color: #A63A50;
}

.desc{
    font-size: 0.875rem;/*14*/
    color: #43607C;
}

.mini .desc{
    margin-bottom: 1.25rem;/*20*/
}

.btn{
    background: #FFF2F2;
    border-radius: 1.875rem;/*30*/
    padding: 0.125rem 0.625rem;/*2 10*/
    font-size: 0.875rem;/*14*/
    line-height: 1.71428571428em;/*24/14*/
    color: #A63A50;
}

.tags{
    display: flex;
    gap: 0.3125rem;/*5*/
    flex-wrap: wrap;
}

.mini .tags{
    justify-content: center;
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
    .mini .wrapper{
        padding: 1.5625rem 0.625rem;/*25 10*/
    }

    .mini.item{
        width: 15.625rem;/*250*/
    }

    .mini .wrapper{
        height: auto;
    }

    .mini .btn{
        font-size: 0.75rem;/*12*/
    }
}

@media (max-width: 47.625rem){/*762*/
    .mini .wrapper{
        display: grid;
        grid-template-columns: 10rem auto;/*150 + 10 = 160*/
        grid-template-rows: auto auto auto auto;
        padding: 1.5625rem;/*25*/
        gap: 0.625rem;/*10*/
        align-items: flex-start;
    }

    .item.mini{
        width: 100%;
    }

    .mini .name{
        text-align: start;
        margin-bottom: 0.625rem;/*10*/
    }

    .mini .img{
        grid-row: 1/6;
        margin: 0;
        margin-right: 0.625rem;/*10*/
    }

    .mini .img{
        height: 9.375rem;/*150*/
        width: 9.375rem;/*150*/
    }

    .mini .reviews{
        margin: 0;
    }

    .mini .desc{
        margin-bottom: 0.625rem;/*10*/
    }

    .mini .tags{
        justify-content: flex-start;
    }
}

@media (max-width: 36rem){/*576*/
    .wrap{
        margin-left: 0.9375rem;/*15*/
    }

    .wrapper{
        grid-template-columns: 7.8125rem auto;/*125*/
        gap: 0.625rem;/*10*/
    }

    .name{
        margin: 0;
    }

    .img{
        height: 7.8125rem;/*125*/
        width: 7.8125rem;/*125*/
    }

    .mini .wrapper{
        grid-template-columns: 6.25rem auto;/*100*/
    }

    .mini .name{
        text-align: start;
        grid-column: 1/3;
        margin: 0;
    }

    .mini .img{
        grid-row: 2/6;
    }

    .mini .img{
        height: 6.25rem;/*100*/
        width: 6.25rem;/*100*/
        margin: 0;
        grid-row: 2/5;
    }

    .mini .wrapper{
        padding: 0.9375rem;/*15*/
    }

    .mini .tags{
        grid-column: 1/3;
    }
}

@media (max-width: 26.5625rem){/*425*/
    .name{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .wrapper{
        grid-template-columns: 6.25rem auto;/*100*/
        gap: 0.625rem;/*10*/
    }

    .img{
        height: 6.25rem;/*100*/
        width: 6.25rem;/*100*/
        grid-row: 2/5;
    }

    .tags{
        grid-column: 1/3;
    }
}

@media (max-width: 23.4375rem){/*375*/
    .reviews{
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .img{
        grid-row: auto;
    }

    .mini .img{
        height: 10.9375rem;/*175*/
        width: 10.9375rem;/*175*/
    }

    .mini .wrapper{
        display: flex;
        align-items: center;
    }

    .mini .desc{
        text-align: center;
    }

    .mini .tags{
        justify-content: center;
    }

    .mini .name{
        text-align: center;
    }
}