.title{
    font-family: 'Yeseva One';
    color: #011936;
    font-size: 2.1875rem;/*35*/
}

.auth{
    font-size: 1.875rem;/*30*/
}

.main{
    font-size: 2.625rem;/*42*/
    max-width: 28.125rem;/*450*/
    margin-bottom: 0.9375rem;/*15*/
}

.section{
    margin-bottom: 0.625rem;/*16*/
    text-align: center;
}

.slider{
    
}

.slider.mini{
    font-size: 1.5rem;/*24*/
}

.search{
    font-size: 1.5rem;/*24*/
    line-height: 1.25em;/*30/24*/
}

@media (max-width: 100rem){/*1600*/
    .title{
        font-size: 2rem;/*32*/
    }
}

@media (max-width: 87.5rem){/*1400*/
    .title{
        font-size: 1.875rem;/*30*/
    }

    .search{
        font-size: 1.375rem;/*22*/
    }
}

@media (max-width: 75rem){/*1200*/
    .title{
        font-size: 1.75rem;/*28*/
    }

    .slider.mini{
        font-size: 1.125rem;/*18*/
    }
}

@media (max-width: 62rem){/*992*/
    .title{
        font-size: 1.625rem;/*26*/
    }

    .search{
        text-align: center;
    }
}

@media (max-width: 47.625rem){/*762*/
    .title{
        font-size: 1.5rem;/*24*/
    }

    .main{
        font-size: 1.875rem;/*30*/
        max-width: none;
    }

    .search{
        font-size: 1.25rem;/*20*/
        color: #43607C;
    }
}

@media (max-width: 36rem){/*576*/
}

@media (max-width: 20rem){/*320*/
    .title{
        font-size: 1.375rem;/*22*/
    }

    .auth{
        font-size: 1.25rem;/*20*/
    }
}