.wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;/*40*/
}

.tags{
    gap: 0.625rem;/*10*/
    display: flex;
    flex-wrap: wrap;
}

.chooseCity{
    margin-bottom: 0.9375rem;/*15*/
    display: none;
}



@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .wrapper{
        row-gap: 1.875rem;/*30*/
    }
}

@media (max-width: 36rem){/*576*/
    .tags{
        flex-wrap: nowrap;
        margin: 0 -0.625rem;/*10*/
        padding: 0 0.625rem;/*10*/
        overflow: auto;
    }

    .tags::-webkit-scrollbar {
        display: none;
    }

    .chooseCity{
        display: block;
    }
}