.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);/*4 10*/
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;/*20*/
}

.wrap{
    display: flex;
    align-items: center;
    gap: 0 1.875rem;/*30*/
}

.item{
    display: block;
    font-size: 1.125rem;/*18*/
    margin: 0 0.9375rem;/*15*/
    color: #011936;
}

.active{
    font-weight: 700;
}

.nav{
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    align-items: center;
    margin-left: 1.875rem;/*30*/
    opacity: 1;
    transition: .5s opacity;
}

.user:hover{
    opacity: .75;
}

.info{
    display: flex;
    align-items: center;
}

.name{
    color: #43607C;
    margin-left: 0.625rem;/*10*/
}

.message{
    position: relative;
}

.message img{
    opacity: 1;
    transition: .5s opacity;
}

.message:hover img{
    opacity: .75;
}

.number{
    position: absolute;
    top: 0;
    right: 0;
    height: 1.25rem;/*20*/
    width: 1.25rem;/*20*/
    border-radius: 100%;
    background: #A63A50;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 0.75rem;/*12*/
    transform: translate(0.1875rem, -0.1875rem);/*3*/
}

.btn{
    margin-left: 1.25rem;/*20*/
    width: 3.125rem;/*50*/
    height: 3.125rem;/*50*/
    border-radius: 100%;
    background: #FFF2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.toggle{
    position: relative;
}

.close,
.menu{
    color: #A63A50;
    font-size: 1.375rem;/**/
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
}

.menu{
    font-weight: 600;
}

.toggle.exited .close{
    opacity: 0;
}

.toggle.exiting .close,
.toggle.entering .menu{
    transition: 1s opacity;
    opacity: 0;
}

.toggle.entering{
    transition: 1s transform;
    transform: rotate(360deg);
}

.toggle.exiting{
    transition: 1s transform;
    transform: rotate(-360deg);
}

.toggle.exiting .menu,
.toggle.entering .close{
    transition: 1s opacity;
    opacity: 1;
}

.toggle.entered .menu{
    opacity: 0;
}

@media (max-width: 100rem){/*1600*/
    .wrap{
        gap: 0.9375rem;/*15*/
    }
    .item{
        margin: 0 0.625rem;/*10*/
    }
}



@media (max-width: 75rem){/*1200*/
    .nav{
        display: none;
    }
    .btn{
        display: block;
    }
    .wrap{
        gap: 1.875rem;/*30*/
    }
}

@media (max-width: 62rem){/*992*/
    .user{
        display: none;
    }
}

@media (max-width: 47.625rem){/*762*/
}

@media (max-width: 36rem){/*576*/
}