.header{
    margin-bottom: 2.5rem;/*40*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close{
    color: #7FA0BB;
    cursor: pointer;
    font-size: 1.5625rem;/*25*/
}