.btn{

}

.btn_search{
    background: #FDAD6D;
    border: 0.0625rem solid #FDAD6D;/*1*/
    border-radius: 0px 0.3125rem 0.3125rem 0px;/*5*/
    font-size: 1.125rem;/*18*/
    color: #8E4A4E;
    padding: 0.9375rem 1.875rem;/*15 30*/
}

.btn_grey{
    background: #DCEBF8;
    border-radius: 1.875rem;/*30*/
    padding: 0.3125rem 1.25rem;/*5 20*/
    font-size: 0.875rem;/*14*/
    line-height: 1.71428571428em;/*24/14*/
    color: #43607C;
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .btn_search{
        padding: 0.625rem 0.78125rem;/*10 12.5*/
    }
}

@media (max-width: 36rem){/*576*/
}