.btn{
    display: block;
    padding: 0.3125rem 1.25rem;/*5 20*/
    border-radius: 1.875rem;/*30*/
    font-size: 0.875rem;/*14*/
    line-height: 1.71428571428em;/*24/14*/
    white-space: nowrap;
}

.btn_search{
    background: #FDAD6D;
    border: 0.0625rem solid #FDAD6D;/*1*/
    border-radius: 0px 0.3125rem 0.3125rem 0px;/*5*/
    font-size: 1.125rem;/*18*/
    color: #8E4A4E;
    padding: 0.9375rem 1.875rem;/*15 30*/
}

.btn_grey{
    background: #DCEBF8;
    color: #43607C;
}

.btn_blue{
    background: #43607C;
    color: #fff;
}

.btn_transparent{
    color: #fff;
}

.btn_white{
    color: red;
    color: #011936;
    background: #fff;
}

.btn_transparent,
.btn_white{
    border: 0.0625rem solid #FFFFFF;/*1*/
    border-radius: 3.125rem;/*50*/
    padding: 0.625rem 1.5625rem;/*10 25*/
    display: flex;
    justify-content: center;
}

.btn_auth_mini{
    color: #5E2D07;
    padding: 0.625rem 1.25rem;/*10 20*/
    background: #FDAD6D;
    border-radius: 3.125rem;/*50*/
}

.btn_auth_big{
    color: #5E2D07;
    padding: 0.625rem 4.6875rem;/*10 75*/
    background: #FDAD6D;
    border-radius: 3.125rem;/*50*/
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .btn_search{
        padding: 0.625rem 0.78125rem;/*10 12.5*/
    }
}

@media (max-width: 36rem){/*576*/
}