.img{
    display: block;
}

.img img{
    height: 100%;
}

.img_6{
    height: 0.375rem;/*6*/
}

.img_15{
    height: 0.9375rem;/*15*/
}

.img_20{
    height: 1.25rem;/*20*/
}

.img_24{
    height: 1.5rem;/*24*/
}

.img_30{
    height: 1.875rem;/*30*/
}

.img_40{
    height: 2.5rem;/*40*/
}

.img_75{
    height: 4.6875rem;/*75*/
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
}

@media (max-width: 36rem){/*576*/
    .img_75{
        height: 3.125rem;/*50*/
    }
}