.subtitle{

}

.subtitle_main{
    color: #43607C;
    max-width: 28.125rem;/*450*/
}

.subtitle_section{
    color: #43607C;
    text-align: center;
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .subtitle_main{
        max-width: none;
    }
}

@media (max-width: 36rem){/*576*/
}