.footer{
    background: #011936;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);/*4 10*/
    color: #fff;
    padding: 2.5rem 0;/*40*/
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem 0;/*20*/
}

.item{
    display: block;
    font-size: 1.125rem;/*18*/
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0 0.9375rem;/*15*/
}

.other{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0 5rem;/*80*/
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 0.625rem 0;/*10*/
    grid-row: 1/3;
}

.information{
    text-align: end;
    margin-bottom: 0.3125rem;/*5*/
}

.socialNetwork{
    display: flex;
    gap: 0 1.25rem;/*20*/
    justify-content: flex-end;
    height: 2.5rem;/*40*/
    align-self: flex-end;
}

.wrap{
    display: flex;
    flex-direction: column;
    gap: 0.625rem 0;/*10*/
}

@media (max-width: 100rem){/*1600*/
}

@media (max-width: 87.5rem){/*1400*/
    .other{
        gap: 0 2.5rem;/*40*/
    }

    .item{
        margin: 0 0.625rem;/*10*/
    }
}

@media (max-width: 75rem){/*1200*/
    .nav{
        flex-direction: column;
    }
}

@media (max-width: 62rem){/*992*/
    .other{
        display: flex;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: 1/3;
        gap: 1.25rem 0;/*20*/
    }

    .wrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 2.5rem 0;/*40*/
        align-items: flex-start;
    }
}

@media (max-width: 47.625rem){/*762*/
}

@media (max-width: 36rem){/*576*/
}

@media (max-width: 31.25rem){/*500*/
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.125rem 0;/*50*/
    }

    .wrap{
        align-items: center;
    }

    .nav{
        align-items: center;
    }

    .other{
        align-items: center;
        gap: 0;
    }

    .socialNetwork{
        align-self: auto;
    }

    .info{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0.9375rem;/*15*/
    }

    .btns{
        margin-bottom: 3.125rem;/*50*/
    }
}