.wrap{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;/*8*/
}

.title{
    font-weight: 700;
    font-size: 1.125rem;/*18*/
    color: #011936;
    margin-bottom: 0.9375rem;/*15*/
}

.input{
    display: none;
}

.input:checked + .label .tick{
    opacity: 1;
}

.square{
    min-width: 1.40625rem;/*22.5*/
    height: 1.40625rem;/*22.5*/
    border: 0.1875rem #43607C solid;/*3*/
    border-radius: 0.3125rem;/*5*/
}

.tick{
    opacity: 0;
    transition: .5s opacity;
    margin: -0.1875rem;/*3*/
    background-color: #FDAD6D;
    width: calc(100% + (2 * 0.1875rem));/*3*/
    height: calc(100% + (2 * 0.1875rem));/*3*/
    border-radius: 0.3125rem;/*5*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    display: flex;
    align-items: center;
    column-gap: 0.9375rem;/*15*/
    padding: 0.25rem;/*4*/
}



@media (max-width: 87.5rem){/*1400*/ 
}

@media (max-width: 75rem){/*1200*/
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .text{
        color: #43607C;
    }

    .title{
        font-size: 1rem;/*16*/
    }
}

@media (max-width: 36rem){/*576*/
    .text{
        font-size: 0.875rem;/*14*/
    }

    .label{
        column-gap: 0.625rem;/*10*/
    }

    .title{
        margin-bottom: 0.625rem;/*10*/
    }
}

@media (max-width: 23.4375rem){/*375*/
    .label{
        column-gap: 0.3125rem;/*5*/
    }

    .title{
        font-size: 0.875rem;/*14*/
    }
}