.wrapper{
    box-shadow: 0 0.125rem 0.3125rem rgba(67, 96, 124, 0.15);/*2 5*/
    border-radius: 0.3125rem;/*5*/
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img{
    height: 18.75rem;/*300*/
    border-radius: 0.3125rem;/*5*/
    overflow: hidden;
}

.wrap{
    padding: 0.9375rem;/*15*/
}

.cost{
    font-weight: 700;
    font-size: 1.125rem;/*18*/
    color: #A63A50;
    margin-bottom: 0.625rem;/*10*/
}

.title{
    line-height: 1.25em;/*20/16*/
    color: #011936;
    margin-bottom: 0.3125rem;/*5*/
    min-height: 2.5rem;/*40*/
    display: flex;
    align-items: center;
}

.detail{
    font-size: 0.875rem;/*14*/
    color: #84A6C2;
}

@media (max-width: 100rem){/*1600*/ 
    .title{
        min-height: 3.75rem;/*60*/
    }
}

@media (max-width: 87.5rem){/*1400*/ 
    .title{
        min-height: 2.5rem;/*40*/
    }
}

@media (max-width: 75rem){/*1200*/
    .img{
        height: 15.625rem;/*250*/
    }

    .wrap{
        padding: 0.625rem;/*10*/
    }

    .title{
        min-height: 3.75rem;/*60*/
    }
}

@media (max-width: 62rem){/*992*/
}

@media (max-width: 47.625rem){/*762*/
    .img{
        height: 12.5rem;/*200*/
    }

    .wrap{
        padding: 0.625rem 0.3125rem;/*10 5*/
    }

    .title{
        min-height: 5rem;/*80*/
    }
}

@media (max-width: 36rem){/*576*/
    .img{
        height: 17.1875rem;/*275*/
    }

    .wrap{
        padding: 0.625rem;/*10*/
    }

    .title{
        min-height: 3.75rem;/*60*/
    }
}

@media (max-width: 31.25rem){/*500*/
    .img{
        height: 15.625rem;/*250*/
    }

    .wrap{
        padding: 0.625rem;/*10*/
    }

    .title{
        min-height: 3.75rem;/*60*/
    }
}