.btn{

}

.btn_search{
    background: #FDAD6D;
    border: 0.0625rem solid #FDAD6D;/*1*/
    border-radius: 0px 0.3125rem 0.3125rem 0px;/*5*/
    font-size: 1.125rem;/*18*/
    color: #8E4A4E;
    padding: 0.9375rem 1.875rem;/*15 30*/
}