@font-face {
	font-family: 'Verdana';
	src: url("./assets/fonts/Verdana-Regular.woff") format("woff"), url("./assets/fonts/Verdana-Regular.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: 'Verdana';
	src: url("./assets/fonts/Verdana-Bold.woff") format("woff"), url("./assets/fonts/Verdana-Bold.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: 'Yeseva One';
	src: url("./assets/fonts/YesevaOne-Regular.woff") format("woff"), url("./assets/fonts/YesevaOne-Regular.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url("./assets/fonts/Inter-Regular.woff") format("woff"), url("./assets/fonts/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
}