.wrap{
    background-color: #fff;
    margin-bottom: 0.625rem;/*10*/
    background: #FFFFFF;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);/*4 10*/
    border-radius: 0.625rem;/*10*/
    padding: 1.875rem 1.25rem;/*30 20*/
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.btn{
    border-radius: 2.25rem;/*36*/
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.625rem 0;/*10*/
    color: #84A6C2;
}

.btnRed{
    background: #A63A50;
    color: #fff;
    font-weight: 700;
}

.btnTransparent{
    background: #FFF2F2;
    color: #8E4A4E;
    font-weight: 700;
}

.btnBrown{
    background: #FFE2CA;
    color: #5E2D07;
}

.text{
    margin: 0 0.9375rem;/*15*/
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem 0;/*10*/
}

.href{
    color: #43607C;
    text-align: center;
    padding: 0.625rem;/*10*/
    border: 0.0625rem solid #C8E6FF;/*1*/
    border-radius: 2.5rem;/*40*/
}

.nav{
    display: flex;
    flex-direction: column;
    gap: 0.625rem 0;/*10*/
}

.user{
    padding: 0.625rem 0;/*10*/
    display: flex;
    align-items: center;
}

.name{
    margin-left: 0.9375rem;/*15*/
    color: #43607C;
}

.footer{
    display: flex;
}

.link{
    display: flex;
    align-items: center;
}

.link .text{
    font-size: 0.875rem;/*14*/
    line-height: 1.28571428571em;/*18/14*/
    color: #84A6C2;
}

.categories{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.625rem 0;/*10*/
}

.button{
    display: flex;
    border: 0.0625rem solid #A63A50;/*1*/
    border-radius: 3.125rem;/*50*/
    width: 100%;
    padding: 0.625rem 0;/*10*/
    justify-content: center;
    align-items: center;
    margin-top: 0.9375rem;/*15*/
}

.button .text{
    color: #8E4A4E;
}